{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% if title %}
			<title>Yinka kayode & Co. | {{title}}</title>
		{% else %}	
			<title>Yinka kayode & Co.</title>
		{% endif %}

		<meta name="keywords" content="Yinka Kayode and Co." />
		<meta name="description" content="Yinka kayode & Co.">
		<meta name="author" content="yinkakayodeandco.com">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'web/img/home/logo.jpg' %}" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{% static 'web/assets/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'web/vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'web/vendor/fontawesome-free/css/all.min.css' %}">
		<link rel="stylesheet" href="{% static 'web/vendor/animate/animate.compat.css' %}">
		<link rel="stylesheet" href="{% static 'web/vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
		<link rel="stylesheet" href="{% static 'web/vendor/owl.carousel/assets/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'web/vendor/owl.carousel/assets/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'web/vendor/magnific-popup/magnific-popup.min.css' %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'web/css/theme.css' %}">
		<link rel="stylesheet" href="{% static 'web/css/theme-elements.css' %}">
		<link rel="stylesheet" href="{% static 'web/css/theme-blog.css' %}">
		<link rel="stylesheet" href="{% static 'web/css/theme-shop.css' %}">

		<!-- Demo CSS -->
		<link rel="stylesheet" href="{% static 'web/css/demos/demo-business-consulting-2.css' %}">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="{% static 'web/css/skins/skin-business-consulting-2.css' %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'web/css/custom.css' %}">

	</head>

	<body class="loading-overlay-showing" data-loading-overlay data-plugin-page-transition>
		
		<div class="body">
			{% include 'web/navbar.html' %}

			<div role="main" class="main">
				{% block content %}

				{% endblock %}
			</div> 

			{% include 'web/footer.html' %}

		</div>

		<!-- JS -->
		<script src="{% static 'web/vendor/plugins/js/plugins.min.js' %}"></script>
		<script src="{% static 'web/js/theme.js' %}"></script>
		<script src="{% static 'web/js/views/view.contact.js' %}"></script>
		<script src="{% static 'web/js/demos/demo-architecture-2.js' %}"></script>
		<script src="{% static 'web/js/custom.js' %}"></script>
		<script src="{% static 'web/js/theme.init.js' %}"></script>

	</body>
</html>
