{% extends 'web/base.html' %}
{% load static %}

{% block content %}  
    <section class="page-header page-header-modern custom-page-header bg-color-quaternary">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 class="font-weight-bold text-9 text-color-secondary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">Project Name</h1>
                </div>
                <div class="col-md-4 order-1 order-md-2 align-self-center">
                    <ul class="breadcrumb d-block text-md-end appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100">
                        <li><a href="{% url 'home-page' %}">Home</a></li>
                        <li class="active">Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-5">
        <div class="row">
            <div class="col">
                <p class="text-4 line-height-9 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci semr vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="row py-5">
            <div class="col appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="100">
                <div class="row align-items-center no-gutters">
                    <div class="col-lg-6">
                        <div class="card border-radius-0 box-shadow-1 border-0 me-lg-5 p-3 mb-3 mb-lg-0">
                            <img src="{% static 'web/img/home/c1.jpg' %}" class="img-fluid border-radius-0" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 ps-2 ps-lg-0 pt-4 pt-lg-0">
                        <p class="mb-3 text-4"><strong class="text-dark">Client:</strong>XYZ Contruction Ltd.</p>
                        <p class="mb-3 text-4"><strong class="text-dark">Year:</strong> 2024</p>
                        <p class="mb-3 text-4"><strong class="text-dark">Timeframe:</strong> 3 months</p>
                        <p class="mb-3 text-4"><strong class="text-dark">Main Service:</strong>Land Survey & Valuation</p>
                        <p class="mb-3 text-4"><strong class="text-dark">Extra Service:</strong>None</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci semr vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci semr vestibulum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci semr vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        
        <!-- Other images for the projects-->
        <div class="container">
            <div class="row pt-1 pb-4 mb-3">
                <div class="col">
                    <div class="row pb-4 pt-4 mt-4">
                        <div class="col-lg-4">
                            <div class="card border-radius-0 box-shadow-1 border-0 mt-4 mt-lg-0 p-2 mb-1 mb-lg-0">
                                <img src="{% static 'web/img/home/bg-2.jpg' %}" class="img-fluid border-radius-0" alt="">
                            </div>                        </div>
                        <div class="col-lg-4">                            
                            <div class="card border-radius-0 box-shadow-1 border-0 mt-4 mt-lg-0 p-2 mb-1 mb-lg-0">
                                <img src="{% static 'web/img/home/bg-2.jpg' %}" class="img-fluid border-radius-0" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4">                            
                            <div class="card border-radius-0 box-shadow-1 border-0 mt-4 mt-lg-0 p-2 mb-1 mb-lg-0">
                                <img src="{% static 'web/img/home/bg-2.jpg' %}" class="img-fluid border-radius-0" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

	<section class="are-you-looking-for bg-color-secondary">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-xl-5">
					<p class="text-uppercase font-weight-semibold mb-1 text-color-light appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-primary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200"></span>Are you looking for </p>
					<h2 class="text-color-light font-weight-bold text-capitalize mb-1 letter-spacing-08 font-size-32 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">Estate Surveyors and Valuers?</h2>
					<p class="font-weight-semibold text-color-light mb-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">Schedule an appointment right now!</p>
				</div>
				<div class="col-xl-6 d-flex align-items-start align-items-sm-center justify-content-start justify-content-xl-end mt-4 mt-xl-0 flex-column flex-sm-row">
					<span class="are-you-looking-for-phone py-2 d-flex align-items-center text-color-light font-weight-semibold text-uppercase text-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500">
						<span>
							<img width="18" height="25" src="{% static 'web/img/home/icons/phone.svg' %}" alt="Phone">
						</span>
						<a class="text-color-light text-decoration-none" href="tel:123-456-7890">(123) 456-7890</a>
					</span>
					<a href="" class="btn btn-primary custom-btn text-center text-uppercase text-decoration-none border-0 py-0 px-5 font-weight-semibold appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">free initial consultation</a>
				</div>
			</div>
		</div>
	</section>		
{% endblock %}